.root {
  li {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe5f1e;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
